.Card {
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;

    display: flex;
    flex-direction: column;
    /* max-width: 500px; */
    min-width: 500px;
}

.Card .Title {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    
}

.Card .Content {
    flex-grow: 1;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}